<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="gotoup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let dPOST of dataPOST.data">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{dPOST.first_name}} {{dPOST.last_name}}</ion-label>
        <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
      </ion-item>
    
      <ion-card-content>
        {{dPOST.email}}
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
